<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
<key>CFBundleDisplayName</key><string>FreeRemoteDesk</string>
<key>CFBundleName</key><string>FreeRemoteDesk</string>
<key>CFBundleExecutable</key><string>freeremotedesk-macos</string>
<key>CFBundleIdentifier</key><string>org.freeremotedesk.macos</string>
<key>CFBundleIconFile</key><string>FreeRemoteDesk</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.1.0</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>12.0</string>
<key>NSHighResolutionCapable</key><true/>
<key>NSSupportsAutomaticGraphicsSwitching</key><true/>
<key>NSLocalNetworkUsageDescription</key><string>连接您选择的局域网远程桌面。</string>
</dict></plist>
